


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('https://images.unsplash.com/photo-1541807456792-67393c00912c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1347&q=80')";>

  <div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

<%= simple_form_for @cocktail do |f| %>

  <%= f.input :name, label: 'What is your cocktail called', class: "new_text", error: 'Name is mandatory and has to be unique'%>
  <%= f.submit 'Save', class: "btn btn-outline-light btn-lg btn-block" %>
<% end %>
 </div>
</div>
 </div>
</div>





 <hr>






<!--
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
 -->
